<h1>Editing Rock Structure Association</h1>

<%= render 'form', rock_structure_association: @rock_structure_association %>

<%= link_to 'Show', @rock_structure_association %> |
<%= link_to 'Back', rock_structure_associations_path %>
